@{
    ViewBag.Title = "Завершение регистрации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<h2>@ViewBag.Title</h2>

<p>На указанный электронный адрес отправлены дальнейшие 
    инструкции по завершению регистрации</p>