@model IEnumerable<ProbnikNeSmotret.Models.Paragraph>

@{
    ViewBag.Title = "ParagraphsList";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Список глав</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.RouteLink("Дальше",
                         new { controller = "Teacher", action = "TestsList", paragraphId = item.Id }, new { @class = "btn btn-secondary" })
            </td>
        </tr>
    }
    </table>