@model IEnumerable<ProbnikNeSmotret.Models.Test>

@{
    ViewBag.Title = "ParagraphListOnDelete";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Список тестов</h2>

<div>
    <h4>Глава</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.RouteLink("Удалить",
                             new { controller = "Teacher", action = "DeleteTest", testId = item.Id }, new { @class = "btn btn-secondary" })
                </td>
            </tr>
        }
    </table>
</div>