@model IEnumerable<ProbnikNeSmotret.Models.Test>
@{
    ViewBag.Title = "TestListToCorrect";
}

<h2>Список тестов</h2>

<div>
    <h4>Тесты</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.RouteLink("Изменить",
                         new { controller = "Teacher", action = "CorrectTest", testId = item.Id }, new { @class = "btn btn-secondary" })
            </td>
            <td>
                @Html.RouteLink("Список вопросов",
                         new { controller = "Teacher", action = "QuestionListToCorrect", testId = item.Id }, new { @class = "btn btn-secondary" })
            </td>
        </tr>
        }
    </table>
</div>
