@{
    ViewBag.Title = "Contact";
}

<div class="hero-image-motiv">
    <div class="hero-text">
        <h1 class ="stroke-head" style="font-size:50px">Мотивировка</h1>
        <h3 class ="stroke-head">Если есть сомнения, посмотрите видео!</h3>
    </div>
</div>

<p></p>
<h3>JAVA</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/SDRoMnJkOQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
<h3>Python</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/6I7ybevPUKM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
<h3>C++</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/pic8c9_snJw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
<h3>В гостях у Алисы</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/Hzw9bE2tEOY?list=PLo3X_vMPl8XiawNHh5YVLSWVIG8-wofG6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>